<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "zh-cmn-Hans" }}">
  {{ partial "head.html" . }}
  <body class="bg-light" data-spy="scroll" data-target="#page-scrollspy" data-offset="90">
  <!-- <body class="bg-light" data-spy="scroll" data-target="#TableOfContents" data-offset="90"> -->
    <!-- Code that all your templates share, like a header -->

    {{ if $.Site.Params.clickAnimate }}
	  <canvas class="fireworks" style="position: fixed; left: 0px; top: 0px; z-index: 1; pointer-events: none; width: 1280px; height: 192px;" width="2560" height="384"><script type="text/javascript" src="{{ "js/vendors/anime.min.js" | absURL }}"></script><script type="text/javascript" src="{{ "js/vendors/fireworks.js" | absURL }}"></script></canvas>
      {{ end }}

    {{ block "header" . }}
      {{ partial "site-navbar.html" . }}
      {{ partial "page-header.html" . }}
    {{ end }}

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ partial "footer.html" . }}
    {{ partial "site-scripts.html" . }}
  </body>
</html>
