{{ define "main" }}
  <main class="post-main-wrapper">
    <!-- <div class="container"> -->
    <div class="row">

      {{ $single := add (add (len (where .Pages ".Params.categories" "ne" nil)) (len (where .Pages ".Params.series" "ne" nil)) ) (len (where .Pages ".Params.tags" "ne" nil)) }}
      {{ if gt $single 0 }}
        <!-- Sidebar -->
        <div class="col-md-3">
          {{ partial "sidebar-categories.html" . }}    
          {{ partial "sidebar-tags.html" . }}
        </div>
        <!-- /.Sidebar -->

        <!-- Post list -->
        <!-- <div class="content"> -->
        <div class="col-md-9 mt-3">  
      {{ else }}
        <div class="container mt-3">  
      {{ end }}
          <ul>
            <div class="div-x">
              {{ partial "page-heading.html" . }}
              {{ $page_num := (len .Data.Pages)}}
              {{ if gt $page_num 0 }}
                <div class="px-2 middot"></div>
                <div>
                  {{ i18n "postCount" $page_num }}
                </div>
              {{ end }}
            </div>

            {{ if .Content }}
              <div class="post-content markdown">
                {{ .Content }}
              </div>
          {{ end }}
              <section id="archive" class="archive">
              <div>
                  {{ $paginator := .Paginate .Data.Pages.ByPublishDate.Reverse }}
                  {{ range $index, $element := $paginator.Pages }}

                  {{- $thisYear := $element.Date.Format "2006" }}
                  {{- $lastElement := $index | add -1 | index $paginator.Pages }}
                  {{- if or (eq $index 0) ( ne ($lastElement.Date.Format "2006") $thisYear ) }}
                  <div class="collection-title">
                      <h2 class="archive-year">{{ $thisYear }}</h2>
                  </div>
                  {{- end }}

                  <div class="archive-post">
                      <span class="archive-post-time">
                          {{ $element.Date.Format "01-02" }}
                      </span>
                      <span class="archive-post-title">
                          <a href="{{ $element.URL }}" class="archive-post-link">
                              {{ .Title }}
                          </a>
                      </span>
                  </div>

                  {{ end }}

              </div>
              </section>
        </ul>
      </div>
      <!-- /.Post list -->

    </div>
  </main>
{{ end }}
