<div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center;">
  <div>{{ .Site.Params.reward_comment }}</div>
  <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
    <span>打赏</span>
  </button>
  <div id="QR" style="display: none;">

    {{ if .Site.Params.wechatpay }}
      <div id="wechat" style="display: inline-block">
        <img id="wechat_qr" src="{{ .Site.Params.wechatpay | absURL}}" alt="{{ .Site.Params.author }} 微信"/>
        <p>微信支付</p>
      </div>
    {{ end }}

    {{ if .Site.Params.alipay }}
      <div id="alipay" style="display: inline-block">
        <img id="alipay_qr" src="{{ .Site.Params.alipay | absURL }}" alt="{{ .Site.Params.author }} 支付宝 "/>
        <p>支付宝</p>
      </div>
    {{ end }}

    {{ if .Site.Params.bitcoin }}
      <div id="bitcoin" style="display: inline-block">
        <img id="bitcoin_qr" src="{{ .Site.Params.bitcoin | absURL }}" alt="{{ .Site.Params.author }} 比特币"/>
        <p>比特币</p>
      </div>
    {{ end }}

  </div>
</div>
